*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-block: 8px;
    background-color: black;
}
.galeria {
    display: columns;
    columns: 3;
    color: pink;
}

.galeria img{
    width: 100%;
    padding-block: 8px;
}

.galeria div{
    background-color: white;
    position: relative;
}

.galeria span{
    color: black;
    position: absolute;
    width: 100%;
    bottom: 12px;
    background-color: rgba(255, 255, 255, 0.568);
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    font-size: larger;

}

